

.btn {
  box-sizing: border-box;
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
  hyphens: manual;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  border-radius: .375em;
  min-width: 2em;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  color: #1f1f1f;
  border-color: #dadada;
  padding: 2px 5px;
  margin-right: 8px;
  cursor: pointer;
}
